@model Moz.Administration.Models.Members.CreateModel
@{
    Layout = null;
    var guid = Guid.NewGuid().ToString("N");
}
<div class="zui-form">
<div class="layui-card">
<div class="layui-card-body">
<form class="layui-form"
      method="post"
      action="@Url.Action("Create", "Member")"
      onBeforePost=""
      onSuccessCallBack=""
      lay-filter="form-@guid">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" value="" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="password" value="" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">邮件</label>
            <div class="layui-input-inline">
                <input type="text" name="email" value="" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-inline">
                <input type="text" name="mobile" value="" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-inline">
                <input type="text" name="nickname" value="" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline">
                <input type="text" name="avatar" value="" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: auto;">
                <button class="layui-btn layui-btn-normal">上传图片</button>
            </div>
            <div class="layui-form-mid layui-word-aux">300x300</div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="radio" name="gender" value="1" title="男" checked="">
                <input type="radio" name="gender" value="2" title="女">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>

       
    </div>
    


<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit="">
            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i> 立即提交
        </button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>

</form>
</div>
</div>
</div>
<script>
  layui.use(['form','laydate'], function() {
      var form = layui.form,laydate = layui.laydate;

      form.render(null, "form-@guid");
      laydate.render({
          elem: '#birthday_@guid'
      });

  });
</script>