
@model Moz.Admin.Layui.Models.Permissions.CreateModel
@{
  Layout = null;
  var guid = Guid.NewGuid().ToString("N");
}
<div class="zui-form">
  <div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form"
            method="post"
            action="@Url.Action("Create", "Permission")"
            onSuccessCallBack=""
            lay-filter="form-@guid">
        
        <div class="layui-form-item">
          <label class="layui-form-label">父菜单</label>
          <div class="layui-input-block">
            <div id="infinite_select_@guid"></div>
          </div>
        </div>
        

        <div class="layui-form-item">
          <label class="layui-form-label">名称</label>
          <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">标识码</label>
          <div class="layui-input-block">
            <input type="text" name="code" lay-verify="required" placeholder="请输入标识码" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux"></div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">是否可用</label>
          <div class="layui-input-inline">
            <input type="checkbox" name="IsActive" value="true" lay-skin="switch" lay-text="是|否">
          </div>
        </div>

        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">
              <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i> 立即提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'selectN', 'selectM'],
    function() {
      let form = layui.form, selectN = layui.selectN, selectM = layui.selectM;

      form.render(null,"form-@guid");


      //无限级分类-基本配置
      let catIns1 = selectN({
        //元素容器【必填】
        elem: '#infinite_select_@guid',
        name:"ParentIdsStr",
        search: [false, true]
        ,data:  "@Url.Action("AllSubPermissions", "Permission")"
        ,field:{idName:'Id',titleName:'Name',childName:'Children'}
      });

    });
</script>