@model Moz.Admin.Layui.Models.ScheduleTasks.IndexModel
@{
    Layout = null;
    var guid = Guid.NewGuid().ToString("N");
}
<div class="zui-page layui-form" lay-filter="form-@guid">
    <div class="layui-card">
        <div class="layui-card-header">
            提示
        </div>
        <div class="layui-card-body">
            <div style="padding: 100px 0; text-align: center; color: #999;">
                <p style="padding-bottom: 20px;">你没有开启定时任务，请先开启</p>
            </div>
        </div>
    </div>
</div>