@using Microsoft.Extensions.Options
@using Moz.Core.Options
@{
    Layout = null;
}
@inject IOptions<MozOptions> Options
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>@Options.Value.Admin.Title</title>
    <style>
        html,
        body {
            background: #f0f0f0;
            color: #333;
            font-family: "Open Sans", Arial, sans-serif;
            font-size: 14px;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .login_box {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #ffffff;
            height: 410px;
            width: 400px;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 100;       
            margin-top: calc((100vh - 410px) / 2 - 50px);
            margin-left: -200px;
        }

        .login_box h1 {
            font-size: 24px;
            margin: 0;
            padding: 0;
        }

        .login_box ul { margin-top: 20px; }

        .login_box ul li { padding: 10px 0; }

        .login_box ul li input[type=text], .login_box ul li input[type=password] {
            border: 0;
            border-bottom: #eee 1px solid;
            color: #333;
            display: block;
            font-size: 16px;
            font-weight: 300;
            height: 50px;
            outline: none;
            width: 100%;
        }

        .login_auto_txt {
            color: #666;
            font-weight: 300;
        }

        #btnlogin {
            -ms-border-radius: 3px;
            background: #3cc;
            border: none;
            border-radius: 3px;
            box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, .4);
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            height: 50px;
            margin-top: 20px;
            outline: none;
            padding-left: 20px;
            padding-right: 20px;
        }

        #btnlogin:disabled {
            -ms-opacity: 0.5;
            opacity: 0.5;
        }

        #btnlogin:active {
            -ms-opacity: 0.7;
            opacity: 0.7;
        }
        
        #error{ color: #ff3300; }
    </style>
</head>

<body>
<form action="#" method="post" id="form_login">
    <div class="login_box">
        <div style="padding: 20px">
            <h1>登录</h1>
            <p id="error"></p>
            <ul>
                <li>
                    <input type="text" placeholder="用户名" name="username" id="username" value=""/>
                </li>
                <li>
                    <input type="password" placeholder="密码" name="password" id="password" value=""/>
                </li>
                @*
                <li>
                    <input type="checkbox" name="loginauto" id="loginauto" value=""/> <span class="login_auto_txt">自动登录</span>
                </li>
                *@
            </ul>
            <input id="btnlogin" type="submit" value="登录"/> <span style="color: #ff0000; font-size: 14px; margin-left: 20px" id="error"></span>
        </div>
    </div>
</form>
</body>
</html>
<script type="text/javascript" src="~/Administration/Assets/js/jquery.min.js"></script>
<script>
    jQuery(function() {
        jQuery("#form_login").on('submit',function(e) {
            e.preventDefault();
            jQuery("#error").text('');
            var username = jQuery('#username').val();
            var password = jQuery('#password').val();
            if (!username) {
                jQuery("#error").text("用户名不能为空");
                jQuery('#username').focus();
                return;
            }
            if (!password) {
                jQuery("#error").text("密码不能为空");
                jQuery('#password').focus();
                return;
            }
            var data = {
                
                    username: username,
                    Password: password
                
            };
            jQuery("#btnlogin").attr("disabled", true).val("登录中...");
            var option = {
                url: '@Url.Action("Index", "Home")',
                data: data,
                type: "POST",
                dataType: "json",
                success: function(json) {
                    if (json.Code === 0) {
                        jQuery("#btnlogin").attr("disabled", true).val("登录成功，跳转中...");
                        location.href = "@Url.Action("index", "main")";
                    } else {
                        jQuery("#error").text(json.Message);
                        jQuery("#btnlogin").attr("disabled", false).val("登录");
                    }
                }
            };
            jQuery.ajax(option);
            return;
        });
    });
</script>