@{
  Layout = null;
  var guid = Guid.NewGuid().ToString("N");
}
<div class="layui-card">
  <div class="layui-card-body">
    <form class="layui-form"
          method="post"
          action="@Url.Action("create", "category")"
          onSuccessCallBack=""
          lay-filter="form-@guid">
      
      <div class="layui-form-item">
        <label class="layui-form-label">父菜单</label>
        <div class="layui-input-block">
          <div id="infinite_select_@guid"></div>
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
          <input type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">别名</label>
        <div class="layui-input-block">
          <input type="text" name="alias" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
          <textarea class="layui-input" name="description" rows="5"></textarea>
        </div>
      </div>
      
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="">
            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i> 立即提交
          </button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
      
    </form>
  </div>
</div>
<script>
  layui.use(['form', 'selectN', 'selectM'],
    function() {
      var form = layui.form, selectN = layui.selectN, selectM = layui.selectM;

      form.render(null,"form-@guid");


      //无限级分类-基本配置
      var catIns1 = selectN({
        //元素容器【必填】
        elem: '#infinite_select_@guid',
        name:"ParentIdsStr",
        search: [false, true]
        //候选数据【必填】
        ,data:  "@Url.Action("allsubmenus", "Category")"
        ,field:{idName:'Id',titleName:'Name',childName:'Children'}
      });

    });
</script>